<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="МетаВерсияМетаописания" value="1.0"/>
    <add key="МетаИдентификатор" value="ДЗПК_"/>    
    <add key="МетаГруппа" value="Региональный"/>
    <add key="МетаДатаНачалаДействия" value="01.01.0001 0:00:00"/>
    <add key="МетаДатаОкончанияДействия" value="31.12.9999 0:00:00"/>
    <add key="МетаАвторство" value="ГАУЗ ПК МИАЦ"/>
    <add key="МетаНомерВерсии" value="1"/>
    <add key="МетаРасположениеШапки" value="Сверху"/>
    <add key="МетаВерсияФорматаМетаструктуры" value="1,0"/>

    <add key="МетаВесДлиныПотенциальногоНаименования" value="0,05"/>
    <add key="МетаВесНомераСтрокиПотенциальногоНаименования" value="-0,3"/>
    <add key="МетаВесНомераСтолбцаПотенциальногоНаименования" value="-0,3"/>
    <add key="МетаВесКоличестваЯчеекВОбъединеннойЯчейкеПотенциальногоНаименования" value="0,15"/>
    <add key="МетаВесГраницыВнизуПотенциальногоНаименования" value="0,05"/>
    <add key="МетаВесГраницыВверхуПотенциальногоНаименования" value="0,05"/>
    <add key="МетаВесГраницыСлеваПотенциальногоНаименования" value="0,05"/>
    <add key="МетаВесГраницыСправаПотенциальногоНаименования" value="0,05"/>
    <add key="МетаВесВыравниванияПоСерединеПотенциальногоНаименования" value="0,07"/>
    <add key="МетаВесВыравниванияСлеваПотенциальногоНаименования" value="-0,1"/>
    <add key="МетаВесВыравниванияСправаПотенциальногоНаименования" value="-2"/>
    <add key="МетаВесЖирностиТекстаПотенциальногоНаименования" value="0,2"/>
    <add key="МетаВесПустойСтрокиПодЯчейкойПотенциальногоНаименования" value="0,2"/>
    <add key="МетаВесЧастоИспользуемогоТермина" value="-4"/>

    <add key="МетаТегНаименование" value="#НазваниеОтчета"/>
    
    <add key="СвободнаяЯчейкаТегПрефикс" value="СвЯч"/>
    <add key="СвободнаяЯчейкаСтрокаТегаКодыЯчеек" value="#СвободныеЯчейки"/>
    
    <add key="СтолбецТегПрефикс" value="Гр"/>
    
    <add key="СтрокаТегПрефикс" value="Стр"/>
    
    <add key="ТаблицаПрефиксТега" value="Таб"/>
    <add key="ТаблицаСтрокаТегаТипТаблицыДинамическая" value="#Динамическая"/>
    <add key="ТаблицаСтрокаТегаТипТаблицыСтатическая" value="#Статическая"/>
    <add key="ТаблицаСтрокаТегаКодыСтрокИСтолбцов" value="#КодыСтрокСтолбцов"/>
    <add key="ТаблицаСтрокаТегаКодыСтрок" value="#КодыСтрок"/>
    <add key="ТаблицаСтрокаТегаКодыСтолбцов" value="#КодыСтолбцов"/>
    <add key="ТаблицаСтрокаТегаНаименование" value="#Название"/>
    <add key="ТаблицаСтрокаТегаТег" value="#Тег"/>
    <add key="ТаблицаСтрокаТегаКод" value="#Код"/>
    
    <add key="ПутьКПапкеСгенерированныхШаблонов" value="C:\БАРС\ШАблоныФормы\"/>

    <add key="КоличествоСловВТеге" value="3"/>
    <add key="КоличествоСимволовВТеге" value="220"/>

    <add key="ЧастоИспользуемыеТермины" value="МО,Медицинская организация,Наименование,
         Название,Адрес,До,От,ОКТМО,ИНН,Должность,Тип,Справочник,Адрес МО,Наименование МО,
         ФИО,Фамилия Имя,Фамилия ИО,Ф.И.О.,Фамилия,Имя,Отчество,Город,Улица,Дом,Строение,
         квартира.,кв.,кабинет,каб.,ФАП,Количество,человек,штук,чел.,шт.,шт,кол.,
         кол-во,кол.-во,колич.,Всего,Итого,Сумма,Суммарно"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>