<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="МетаВерсияМетаописания" value="1.0"/>
    <add key="МетаИдентификатор" value="ДЗПК_"/>    
    <add key="МетаГруппа" value="Региональный "/>
    <add key="МетаДатаНачалаДействия" value="01.01.0001 0:00:00"/>
    <add key="МетаДатаОкончанияДействия" value="31.12.9999 0:00:00"/>
    <add key="МетаАвторство" value="ГАУЗ ПК МИАЦ"/>
    <add key="МетаНомерВерсии" value="1"/>
    <add key="МетаРасположениеШапки" value="Сверху"/>
    <add key="МетаВерсияФорматаМетаструктуры" value="1,0"/>
    
    <add key="СвободнаяЯчейкаТегПрефикс" value="СвЯч"/>
    
    <add key="СтолбецТегПрефикс" value="Гр"/>
    
    <add key="СтрокаТегПрефикс" value="Стр"/>
    
    <add key="ТаблицаТегПрефикс" value="Таб"/>
    
    <add key="ПутьКПапкеСгенерированныхШаблонов" value="C:\БАРС\ШАблоныФормы\"/>    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>